<html lang="en">
<head>
	<script src="../js/jquery-1.8.3.js" type="text/javascript"></script>
	<script src="../js/animations.js" type="text/javascript"></script>
	<script src="../js/ws.js" type="text/javascript"></script>
	<link href="../css/style.css" rel="stylesheet" type="text/css">
	<link href='http://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700' rel='stylesheet' type='text/css'>
</head>

<body>
<div id='card-container' class='container'>
</div>
</body>

<script>
  
  newData = jQuery.extend({}, DATA);
  newData['type'] = 'places';
  addCard(newData);

  newData = jQuery.extend({}, DATA);
  newData['type'] = 'rentals';
  addCard(newData);
  
  newData = jQuery.extend({}, DATA);
  newData['type'] = 'restaurants-meat';

  setTimeout(function() {addCard(newData);}, 2000);

</script>
