html{color:#000;background:#FFF;}

body,div,dl,dt,dd,ul,ol,li,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}

body,html {
	background-color: #e5e5e5;
	background-image: url('../img/squairy.png');
	background-repeat: repeat;
	overflow: hidden;
}

div.hidden {
	margin-top: 120%;
}

.container {
	padding:15px;
}

.card-column {
	height:100%;
  width:50%;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.card {
  background: #FEFEFE;
  background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
  border: 2px solid #FAFAFA;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  display: inline-block;
	height:auto;
  margin: 1%;
  opacity: 1;
  padding: 2%;
  padding-bottom: 1%;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
  width:94%;
}

.card-header {
	border-bottom-style:solid;
	border-color:#CCC;
	border-width:1px;
	height:35px;
	width: 100%;
}

.card-image-container {
	float:right;
	height: 30px;
	padding-left: 12px;
	width: 30px;
/*
	padding-bottom: 20px;
*/
}

.card-image {
	background-size:100%;
	height: 24px;
	width: 24px;
	/* Do we want to look more like Google or Facebook? */
	/*-webkit-border-radius:50%;*/
}
.card-header p {
	font-family: 'Roboto', sans-serif;
	/*font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;*/
}

.card-header p.card-title {
	color: #222;
	float: left;
	font-size:24px;
	font-weight: 100;
}

.card-header p.person-name {
	color: #888;
	float: right;
	font-size: 18px;
}

.card-content {
	background-size: cover;
	color: #666;
	font-family: 'Lato', sans-serif;
	height: 150px;
	margin-left:-10px;
	margin-right:-10px;
	margin-top:10px;
	position:relative;
	z-index: 0;
}

.card-content-bg-overlay {
	background-color:rgba(0, 0, 0, 0.6);
	height:150px;
	position:absolute;
	width:100%;
	z-index:9999;
}

.card-content p.info-header{
	color: #DDD;
	float:left;
	font-size:32px;
	font-weight: 300;
	padding-bottom:20px;
}

.card-content p.info-header em {
	color: #EEE;
	font-style: normal;
	font-weight: 400;
}

/* Plane specific */

.card-content .departure {
	float:left;
	padding-right: 2%;
	width: 48%;
}
.card-content .departure p {
	color: #EEE;
	font-family: 'Roboto', sans-serif;
	font-size:16px;
	font-weight: 400;
}

.card-content .arrival {
	float:right;
	padding-left: 2%;
	width: 48%;
}

.card-content .arrival p {
	color: #EEE;
	font-family: 'Roboto', sans-serif;
	font-size:16px;
	font-weight: 400;
}

.card-content p.info {
	color: #DDD;
	font-family: 'Lato', sans-serif;
	font-size:24px;
	font-weight: 100;
}

.card-content p.info em {
	font-style: normal;
	font-weight: 400;
}

/* Place specific */

.card-content p.distance {
	color: #DDD;
	float:right;
	font-size:20px;
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	padding-right: 10px;
}

/* Rental car specific */

.card-content div.car-option-container {
	float: left;
	width:31.3%;
	padding-left:1%;
	padding-right:1%;
}

.card-content div.car-icon {
	background-size: cover;
  border: 1px solid #888;
	height:200px;
	margin-bottom: 5px;
	margin-right: 10px;
	margin-top: 5px;
	width: 100%;
}

.card-content p.car-model {
	color: #555;
	font-family: 'Roboto', sans-serif;
	font-size:22px;
	font-weight: 300;
}

.card-content p.car-price {
	color: #222;
	font-family: 'Lato', sans-serif;
	font-size:36px;
	font-weight: 400;
}
